.wrapper
  .donut
    - 20.times do
      %div
        %div
          .segment-wrapper
            - 6.times do
              %div
%h1
  3D Rotating donut inspired by
  %a{:href => "https://visualpunker.tumblr.com/post/45842504690/video-motion-02-simple-motion-in-3d", :target => "_blank"} this animation